.campain-container {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: calc(var(--padding) * 2);
    margin-bottom: var(--margin);
    background-color: var(--background-color);
    position: relative; 

}

.campain-container h2 {
    margin-top: 0;
    margin-bottom: var(--margin);
    color: var(--text-color);
}

.campain-container p {
    margin-bottom: calc(var(--margin) / 2);
    color: var(--text-color-light);
}

.campain-container strong {
    font-weight: bold;
    color: var(--text-color);
}

.delete-icon {
    cursor: pointer;
    color: #dc3545; 
    float: right;
}

.delete-icon:hover {
    color: #c82333; 
}
.status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}